@charset "UTF-8";
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff2), url(../fonts/Montserrat-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.woff2), url(../fonts/Roboto-SemiBold.woff);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.woff2), url(../fonts/Roboto-Bold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #333;
  margin: 0;
  padding: 0;
  min-width: 320px;
  height: 100%;
}

button {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  height: 100%;
}

main {
  flex: 1 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.personal-page .catalog-filtres {
  width: 100%;
  max-width: 100%;
}

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font: inherit;
}

.input-reset {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
}

.title-h1 {
  font-size: 54px;
}

.title-h2 {
  font-size: 32px;
}
.title-h2--center {
  text-align: center;
  margin-bottom: 50px;
}

.title-h3 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
}
.title-h3 a {
  transition: opacity 0.2s linear;
  color: #e00c32;
}
.title-h3 a:hover {
  opacity: 0.5;
}

.logo-link__img {
  max-width: 200px;
}

.js-modal-visible {
  display: block !important;
}

.js-stop-scroll {
  overflow: hidden;
}

.js-fixed-sidebar {
  position: fixed;
  width: 260px;
}

.js-absolute {
  position: absolute;
  top: auto !important;
  bottom: 0;
  width: 260px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  display: none;
  min-width: 320px;
}
.overlay__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.overlay__inner {
  background-color: #ffffff;
  flex-basis: 1150px;
  padding: 10px;
  position: relative;
  border-radius: 5px;
}

.choices__list--dropdown .choices__item--selectable::after,
.choices__list[aria-expanded] .choices__item--selectable::after {
  display: none;
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
  padding-right: 0px;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  word-break: normal;
  white-space: nowrap;
}

.checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.checkbox-custom {
  display: inline-block;
  vertical-align: sub;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: transparent;
  position: relative;
  border-radius: 2px;
  border: 1px solid #999999;
  margin-right: 12px;
}

.checkbox-custom::before {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 9px;
  background-image: url("../images/checkbox-chek.svg");
  background-repeat: no-repeat;
  background-size: contain;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: 1px;
  transition: 0.2s linear;
}

/*появление галочки при клике на чекбокс*/
.checkbox:checked + .checkbox-custom {
  background-color: #e00c32;
}

.checkbox:checked + .checkbox-custom::before {
  transform: translate(-50%, -50%) scale(1);
}

.checkbox:hover + .checkbox-custom {
  background-color: #e00c32;
}

.checkbox-label {
  cursor: pointer;
  color: #666666;
  font-size: 16px;
}

.delivery-select:focus {
  outline: none;
  box-shadow: 0 0px 4px 0px #e00c32 !important;
  border-color: #e00c32;
}

.delivery-select:focus-visible {
  outline-offset: 0px;
  outline: none;
}

.table-responsive {
  margin-bottom: 30px;
}

@-moz-document url-prefix() {
  .table-responsive {
    padding-left: 1px;
  }
}
.swiper__hero {
  width: 100%;
  height: 400px;
}
.swiper__hero .swiper-slide {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.swiper__hero .swiper-slide--one {
  background-image: url("../images/hero-alcap-img.jpg");
}
.swiper__hero .swiper-slide--two {
  background-image: url("../images/hero-alcap-img3.jpg");
}
.swiper__hero .swiper-slide--three {
  background-image: url("../images/hero-alcap-img2.jpg");
}
.swiper__hero .swiper-button-prev::after,
.swiper__hero .swiper-button-next::after {
  display: none;
}
.swiper__hero .swiper-button-prev,
.swiper__hero .swiper-button-next {
  background-color: #ffffff;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.swiper__hero .swiper-button-prev {
  background-image: url("../images/arrow-left-blue.svg");
  left: auto;
  top: auto;
  right: 105px;
  bottom: 25px;
}
.swiper__hero .swiper-button-next {
  background-image: url("../images/arrow-right-blue.svg");
  left: auto;
  top: auto;
  right: 40px;
  bottom: 25px;
}
.swiper__hero .swiper-pagination {
  width: auto;
  margin-left: 50px;
  margin-bottom: 30px;
}
.swiper__hero .swiper-pagination-bullet {
  opacity: 1;
  background-color: #ffffff;
  margin: 0 8px !important;
  width: 6px !important;
  height: 6px !important;
}
.swiper__hero .swiper-pagination-bullet-active {
  transform: scale(2);
}
.swiper__popular-goods {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.swiper__popular-goods .swiper-wrapper {
  padding-bottom: 40px;
}
.swiper__popular-goods .swiper-slide {
  height: auto;
  transition: all 0.2s linear;
  border-radius: 4px;
  padding: 10px;
}
.swiper__popular-goods .swiper-slide:hover {
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.15);
}
.swiper__popular-goods .swiper-button-next::after,
.swiper__popular-goods .swiper-button-prev::after {
  display: none;
}
.swiper__popular-goods .swiper-button-next,
.swiper__popular-goods .swiper-button-prev {
  background-color: #4174cb;
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.swiper__popular-goods .swiper-button-prev {
  background-image: url("../images/arrow-left-white.svg");
}
.swiper__popular-goods .swiper-button-next {
  background-image: url("../images/arrow-right-white.svg");
}
.swiper__popular-goods .swiper-pagination-bullet {
  background-color: #4174cb;
  opacity: 1;
  width: 6px;
  height: 6px;
}
.swiper__popular-goods .swiper-pagination-bullet-active {
  transform: scale(2);
}

.header {
  flex: 0 0 auto;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(12, 18, 28, 0.1);
  padding: 20px 0 20px 0;
}
.header__bottom {
  padding: 20px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo-link {
  margin-right: 10px;
}
.header__form {
  margin-right: 10px;
}
.header__favorite {
  margin-right: 10px;
}

.breadcrumbs-list {
  display: flex;
  align-items: center;
  color: #999999;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0;
}
.breadcrumbs-list__item:not(:last-child) {
  margin-right: 20px;
  position: relative;
}
.breadcrumbs-list__item:not(:last-child)::after {
  content: "/";
  position: absolute;
  top: 1px;
  right: -12px;
}
.breadcrumbs-list__link {
  transition: color 0.2s linear;
}
.breadcrumbs-list__link.active {
  color: #e00c32;
}
.breadcrumbs-list__link:hover, .breadcrumbs-list__link:focus {
  color: #e00c32;
}

.fixed-menu {
  padding: 20px 0;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.07);
  opacity: 0;
  visibility: hidden;
  background-color: #ffffff;
  transition: transform 0.2s linear;
  transform: translateY(-100%);
}
.fixed-menu__line-top, .fixed-menu__line-bottom {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.fixed-menu .form {
  flex-grow: 1;
  margin-right: 10px;
}

.js-fixed-menu-show {
  position: fixed;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 5px;
}
.nav__item:not(:last-child) {
  margin-right: 20px;
}
.nav__link {
  font-size: 16px;
  font-weight: 600;
}

.logo-link--mobile {
  display: none;
}

.actions {
  display: flex;
  align-items: center;
}
.actions__header {
  margin-right: 10px;
}
.actions__item:not(:last-child) {
  margin-right: 10px;
}
.actions__item {
  font-size: 16px;
  display: flex;
  align-items: center;
}
.actions__link {
  transition: color 0.2s linear;
  white-space: nowrap;
}
.actions__link:hover {
  color: #e00c32;
}
.actions__link:focus {
  color: #e00c32;
}
.actions svg {
  margin-right: 5px;
}

.social-list {
  display: flex;
  align-items: center;
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}
.social-list__item {
  width: 24px;
  height: 24px;
}
.social-list__item a {
  display: block;
  width: 24px;
  height: 24px;
}

.form {
  display: flex;
  align-items: center;
}
.form--column {
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}
.form--column input {
  border: 1px solid #c4c4c4;
}
.form__header {
  flex-grow: 1;
  max-width: 600px;
  margin-right: 10px;
}
.form__input {
  padding: 15px;
  background-color: #f8f8f8;
  font-size: 14px;
  border-radius: 5px;
  width: 100%;
}
.form__input:focus {
  box-shadow: 0px 0px 1px 2px #000000;
}
.form__button {
  padding: 16px 43px;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
}
.form__button--red {
  background: #e00c32;
}
.form__button--blue {
  background: #4174cb;
}
.form__button:focus {
  background-color: #ffffff;
  color: #e00c32;
  box-shadow: 0px 0px 1px 2px #e00c32;
}
.form__label {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.form__label span {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  color: rgba(12, 18, 28, 0.5);
  white-space: normal;
  margin-bottom: 5px;
}
.form__title {
  text-align: center;
  margin-bottom: 20px;
}

.informer {
  display: flex;
  align-items: center;
}
.informer__item {
  display: flex;
  align-items: center;
}

/* category-menu-level-1 start */
.category-menu-level-1 {
  background-color: #0c121c;
}

.category-menu-level-1__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 5;
}

.category-menu-level-1__item:hover .category-menu-level-2 {
  display: block;
}

.category-menu-level-1__link {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding: 20px;
  display: block;
}

/* category-menu-level-1 end */
/* category-menu-level-2 start */
.category-menu-level-2 {
  background-color: #ffffff;
  position: absolute;
  z-index: 6;
  padding: 20px;
  display: none;
  border: 1px solid rgba(12, 18, 28, 0.12);
  border-radius: 5px;
}
.category-menu-level-2__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.category-menu-level-2__item {
  display: flex;
  align-items: center;
  position: relative;
}
.category-menu-level-2__item:hover img {
  transform: translateY(-5px);
}
.category-menu-level-2__item:hover .category-menu-level-3 {
  display: block;
}
.category-menu-level-2__item img {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  transition: transform 0.2s linear;
}
.category-menu-level-2__link {
  font-weight: 600;
  font-size: 14px;
  padding: 10px 10px 10px 5px;
  display: block;
  transition: color 0.2s linear;
}
.category-menu-level-2__link:hover {
  color: #e00c32;
}

/* category-menu-level-2 end */
/* category-menu-level-3 start */
.category-menu-level-3 {
  position: absolute;
  top: 100%;
  left: 50px;
  padding: 20px;
  border: 1px solid rgba(12, 18, 28, 0.12);
  background-color: #ffffff;
  z-index: 1;
  display: none;
}
.category-menu-level-3__item {
  padding: 5px;
}

/* category-menu-level-3 end */
.stars-list {
  display: flex;
  margin-bottom: 10px;
}
.stars-list__item:not(:last-child) {
  margin-right: 5px;
}

.social-list {
  display: flex;
  align-items: center;
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}
.social-list__item {
  width: 24px;
  height: 24px;
}
.social-list__item a {
  display: block;
  width: 24px;
  height: 24px;
}

.privacy-policy {
  padding-top: 20px;
}
.privacy-policy__wrapper {
  padding-top: 10px;
  border-top: 1px solid #e0e0e0;
}

.counter {
  font-size: 14px;
  color: #0c121c;
  font-weight: bold;
  background-color: #feb703;
  padding: 4px 8px;
  border-radius: 16px;
  white-space: nowrap;
}

.contact__header {
  margin-right: 10px;
  white-space: nowrap;
}
.contact__action {
  font-weight: 700;
  transition: color 0.2s linear;
}
.contact__action:hover {
  color: #e00c32;
}
.contact__btn {
  transition: color 0.2s linear;
}
.contact__btn:hover, .contact__btn:focus {
  color: #e00c32;
}

.amount {
  cursor: pointer;
}
.amount__cart {
  margin-right: 10px;
}
.amount__title {
  font-size: 11px;
  font-weight: 400;
  color: rgb(128, 128, 128);
  margin-bottom: 5px;
}
.amount__counter {
  display: flex;
  color: #0c121c;
  font-size: 14px;
  font-weight: 400;
}
.amount__button {
  font-size: 20px;
  padding: 10px 10px;
  border: 1px solid rgba(12, 18, 28, 0.12);
  transition: background 0.2s linear, color 0.2s linear;
}
.amount__button:hover {
  background-color: rgb(224, 12, 50);
  color: #ffffff;
}
.amount__input {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  display: block;
  color: #0c121c;
  font-size: 15px;
  padding: 10px;
  width: 90px;
}

.close-button {
  line-height: 0;
}
.close-button--position-absolute {
  position: absolute;
  top: 20px;
  right: 20px;
}
.close-button svg {
  fill: #000000;
  width: 20px;
  height: 20px;
  transition: fill 0.2s linear;
}
.close-button:hover svg {
  fill: #e00c32;
}

.actions-list--flex {
  display: flex;
}
.actions-list__item:not(:last-child) {
  margin-right: 10px;
}

.stikcers-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 5px;
}
.stikcers-list__item:not(:last-child) {
  margin-right: 10px;
}
.stikcers-list__item {
  text-align: center;
  border-radius: 5px;
  background: #5eb160;
  transform: skewX(-15deg);
  padding: 0 4px;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 19px;
}
.stikcers-list__item--sale {
  background-color: #db2138;
}
.stikcers-list__item--new {
  background-color: #5eb160;
}
.stikcers-list__item--sob-prov {
  background-color: #006db2;
}
.stikcers-list__item--round {
  transform: skewX(0);
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-autorization {
  max-width: 540px;
  margin-bottom: 20px;
}
.form-autorization__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form-autorization__item:not(:last-child) {
  margin-bottom: 20px;
}
.form-autorization__label {
  color: #0c121c;
  font-size: 14px;
  font-weight: 600;
  width: 100px;
}
.form-autorization__input {
  padding: 15px;
  background-color: #f8f8f8;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  width: 100%;
}
.form-autorization__link {
  text-decoration: underline;
  color: #0c121c;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s linear;
  margin-right: 10px;
  margin-bottom: 10px;
}
.form-autorization__link:hover {
  color: #e00c32;
  text-decoration: none;
}
.form-autorization__button {
  padding: 16px 43px;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  background-color: #e00c32;
}

.cart-result {
  font-weight: 600;
  font-size: 18px;
}
.cart-result__text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.cart-result__text:not(:last-child) {
  margin-bottom: 10px;
}
.cart-result__text--economy {
  color: red;
}
.cart-result__title {
  width: 280px;
}
.cart-result__total {
  width: 50%;
}

.form-delivery {
  margin: 0 -10px;
  flex-wrap: wrap;
}
.form-delivery__title {
  color: #131313;
  font-weight: 400;
  margin-bottom: 15px;
}
.form-delivery__item {
  width: 33.33%;
  padding: 0 10px 10px 10px;
}
.form-delivery__button {
  width: 100%;
}

.delivery-list__item:not(:last-child) {
  margin-bottom: 10px;
}
.delivery-list__item {
  display: flex;
  align-items: center;
}
.delivery-list__textarea:focus-visible {
  outline-offset: 0px;
  outline: none;
}
.delivery-list__textarea:focus {
  outline: none;
  box-shadow: 0 0px 4px 0px #e00c32 !important;
  border-color: #e00c32;
}

.warning-table {
  width: 100%;
  min-width: 950px;
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: 30px;
  font-size: 16px;
}
.warning-table tr th {
  padding: 10px;
  border-top: 1px solid #e8e9eb;
  border-bottom: 1px solid #e8e9eb;
}
.warning-table tr td {
  padding: 10px;
  border-bottom: 1px solid #e8e9eb;
  width: 50%;
}

.accordion-button {
  font-weight: 600;
  text-transform: uppercase;
}

.accordion-body {
  padding: 15px;
  padding-right: 0px;
}

.accordion-item {
  border: none;
}

.accordion-button:focus {
  border-color: #e00c32;
  box-shadow: 0 0 0 0.25rem #e00c32;
}

.accordion-button:hover {
  background-color: #e00c32;
  color: #ffffff;
}

.accordion-button:hover::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed) {
  background-color: #e00c32;
  color: #ffffff;
  font-weight: 600;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.hero {
  margin-bottom: 100px;
  position: relative;
}
.hero__content {
  text-transform: uppercase;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
  position: absolute;
  left: 46px;
  top: 100px;
  max-width: 750px;
  z-index: 1;
}
.hero__title-text {
  font-size: 40px;
  margin-bottom: 20px;
}
.hero__subtitle-text {
  font-size: 20px;
  margin-bottom: 20px;
}
.hero__link {
  padding: 16px 43px;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  background: #e00c32;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: none;
}
.hero .swiper-slide {
  position: relative;
}
.hero .swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(32, 32, 32, 0.158);
}

.assortment {
  margin-bottom: 100px;
}
.assortment--fix-left-menu {
  flex: 0 0 calc(100% - 260px - 20px);
  margin-left: auto;
  margin-bottom: 0;
}

.assortment-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}
.assortment-list--incatalog {
  grid-gap: 40px;
}
.assortment-list__item {
  border-radius: 8px;
  overflow: hidden;
}
.assortment-list__item img {
  height: 100%;
}
.assortment-list__link {
  position: relative;
  display: block;
  height: 100%;
}
.assortment-list__wrapper {
  background-color: rgba(65, 116, 203, 0.6745098039);
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}
.assortment-list__title {
  text-align: center;
}

.tab-goods {
  margin-bottom: 100px;
}
.tab-goods__title {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.tab-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab-list__item:not(:last-child) {
  margin-right: 20px;
}
.tab-list__button {
  padding: 16px 43px;
  border: none;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  border: 1px solid #4174cb;
  transition: background 0.2s linear, color 0.2s linear;
}
.tab-list__button:hover {
  color: #ffffff;
  background-color: #4174cb;
}
.tab-list__button.js-active-tab-button {
  color: #ffffff;
  background-color: #4174cb;
}

.tab-content__item {
  display: none;
}

.js-active-tab-content {
  display: block;
  -webkit-animation: opacity_tab_content 0.5s linear;
  animation: opacity_tab_content 0.5s linear;
}

@-webkit-keyframes opacity_tab_content {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes opacity_tab_content {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.b-card {
  height: 100%;
  position: relative;
}
.b-card__link {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.b-card__imgbox {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b-card__title {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 10px;
  font-weight: 600;
}
.b-card__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.sizes-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sizes-list__item {
  padding: 5px;
  border: 1px solid #e3e3e3;
  margin: 2px 2px 0 0;
  transition: all 0.2s linear;
  cursor: pointer;
}

.sizes-list__item:hover {
  border-color: #db2138;
}

.info-company {
  margin-bottom: 100px;
}

.info-company-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 30px;
}
.info-company-list__item {
  grid-column: 4 span;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-company-list__item img {
  width: 80px;
  height: 80px;
  margin-bottom: 12px;
}
.info-company-list__title {
  color: #153e84;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 12px;
}
.info-company-list__description {
  font-size: 14px;
  text-align: center;
}

.contact-section {
  margin-bottom: 100px;
}
.contact-section__container {
  background-color: #8fafe5;
  padding: 40px 135px;
}
.contact-section__title {
  color: #153e84;
  font-size: 48px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
}
.contact-section__description {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 54px;
}
.contact-section__form {
  margin: 0 auto;
  width: 80%;
}

.brands {
  margin-bottom: 100px;
}
.brands__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 20px;
}

.wrapper {
  padding: 40px 0;
}
.wrapper__container {
  display: flex;
  position: relative;
}

.sidebar {
  flex: 0 0 260px;
  margin-right: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.sidebar-nav--margin {
  margin-bottom: 20px;
}
.sidebar-nav__item {
  padding: 10px 20px;
}
.sidebar-nav__item.active {
  background-color: #e00c32;
}
.sidebar-nav__item.active .sidebar-nav__link {
  color: #ffffff;
}
.sidebar-nav__link {
  color: #0c121c;
  font-size: 14px;
  font-weight: 600;
  transition: color 0.2s linear;
}
.sidebar-nav__link:hover, .sidebar-nav__link:focus {
  color: #e00c32;
}

.content__title {
  margin-bottom: 20px;
}
.content__title--h3 {
  color: #0c121c;
}
.content__text {
  padding: 10px 0;
  font-size: 16px;
  line-height: 1.4;
}
.content__text--contact a {
  display: inline;
  font-weight: 700;
  transition: color 0.2s linear;
}
.content__text--contact a:hover, .content__text--contact a:focus {
  color: #e00c32;
}
.content__link-intext {
  display: inline-block;
  color: #e00c32;
}
.content__link-intext:hover {
  text-decoration: underline;
}

.content-list {
  list-style-type: disc;
  padding-left: 40px;
}
.content-list__item:not(:last-child) {
  margin-bottom: 20px;
}
.content-list__text {
  font-size: 16px;
}

.catalog-filtres {
  max-width: 296px;
}
.catalog-filtres--margin {
  margin-right: 32px;
}
.catalog-filtres__filtres {
  margin-bottom: 31px;
}
.catalog-filtres__title {
  color: #000000;
  font-size: 18px;
  margin-bottom: 10px;
}
.catalog-filtres__category--category {
  margin-bottom: 26px;
}
.catalog-filtres__category--sale {
  margin-bottom: 26px;
}
.catalog-filtres__category--sale {
  margin-bottom: 28px;
}
.catalog-filtres__list {
  margin-bottom: 10px;
}
.catalog-filtres__list--price {
  margin-bottom: 36px;
}
.catalog-filtres__item:first-child {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}
.catalog-filtres__item:not(:last-child) {
  margin-bottom: 10px;
}
.catalog-filtres__item--title-price {
  margin-bottom: 7px !important;
}
.catalog-filtres__link {
  position: relative;
  color: blue;
  border-bottom: 1px solid transparent;
  outline: none;
}
.catalog-filtres__link-text {
  position: relative;
}
.catalog-filtres__link::before {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  left: -3px;
  bottom: -3px;
  background-color: blue;
  transform: scale(0);
  transition: transform 0.2s linear;
}
.catalog-filtres__link:hover {
  border-bottom-color: blue;
}
.catalog-filtres__link:focus {
  color: #ffffff;
}
.catalog-filtres__link:focus:not(:active):before {
  transform: scale(1);
}
.catalog-filtres__link:active {
  color: red;
  border-bottom-color: red;
}
.catalog-filtres__inputs {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}
.catalog-filtres__text {
  font-size: 16px;
  color: #999999;
  margin-right: 9px;
}
.catalog-filtres__label {
  display: flex;
  align-items: center;
}
.catalog-filtres__input {
  border: 1px solid #999999;
  border-radius: 2px;
  width: 86px;
  height: 30px;
  padding: 5px 13px;
  outline: none;
}
.catalog-filtres__input:hover {
  cursor: pointer;
  border-color: #e00c32;
}
.catalog-filtres__input:focus:not(:active) {
  border-color: #e00c32;
  background-color: #e00c32;
}
.catalog-filtres__input:active {
  border-color: #e00c32;
}
.catalog-filtres__progress {
  height: 3px;
  border: none;
  border-radius: 3px;
  background-color: #999999;
}
.catalog-filtres__progress .noUi-connect {
  background-color: #e00c32;
}
.catalog-filtres__progress .noUi-handle:after,
.catalog-filtres__progress .noUi-handle:before {
  display: none;
}
.catalog-filtres__progress .noUi-touch-area {
  border-radius: 100%;
  background-color: #e00c32;
}
.catalog-filtres__progress .noUi-handle {
  width: 13px;
  height: 13px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  top: -5px;
  right: -6px;
  cursor: pointer;
}
.catalog-filtres__progress .noUi-handle-lower {
  right: -7px;
}
.catalog-filtres .catalog-filtres__item:not(:last-child) {
  margin-bottom: 12px;
}
.catalog-filtres__content {
  width: 100%;
  max-width: 100%;
}

.cart-goods {
  margin-bottom: 100px;
}

.order-goods {
  margin-bottom: 100px;
}
.order-goods__title {
  margin-bottom: 30px;
}
.order-goods__top {
  display: flex;
  justify-content: end;
  padding: 15px 0;
}
.order-goods__button {
  color: #131313;
  font-weight: 400;
  font-size: 22px;
  transition: color 0.2s linear;
  padding-left: 40px;
  background-image: url("../images/garbage.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}
.order-goods__button:hover {
  color: #e00c32;
}

.catalog-order {
  margin-bottom: 100px;
}
.catalog-order__title {
  margin-bottom: 30px;
}

.alcap-popup {
  width: 330px;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background: #fff;
  padding: 10px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition: visibility 0.2s linear, opacity 0.2s linear, transform 0.2s linear;
}
.alcap-popup__inner {
  display: flex;
  flex-direction: column;
}
.alcap-popup__top {
  display: flex;
  border-bottom: 1px solid #c4c4c4;
}
.alcap-popup__bottom {
  margin-bottom: 10px;
}
.alcap-popup__sum {
  padding: 10px;
  text-align: center;
}
.alcap-popup__close-button {
  margin-left: auto;
  margin-bottom: 10px;
}
.alcap-popup__text {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}
.alcap-popup__text span {
  color: #e00c32;
}
.alcap-popup__button {
  padding: 16px 43px;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  background-color: #e00c32;
}
.alcap-popup__collapse:hover {
  transition: color 0.2s linear;
}
.alcap-popup__collapse:hover span {
  color: #e00c32;
  cursor: pointer;
}

.alcap-popup--open {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.quick-buy {
  position: fixed;
  top: auto;
  left: auto;
  bottom: 40px;
  right: 40px;
  font-size: 18px;
}
.quick-buy strong {
  color: #e00c32;
}
.quick-buy__title {
  font-weight: 600;
  margin-bottom: 10px;
}

.auth-info {
  padding: 30px 0;
}
.auth-info__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  grid-gap: 10px;
}
.auth-info__contact {
  padding: 10px;
  padding-left: 40px;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 30px 40px;
}
.auth-info__contact--manager {
  padding-left: 5px;
  border-color: #e00c32;
  position: relative;
}
.auth-info__contact--manager:hover .manager-contacts-list {
  opacity: 1 !important;
  visibility: visible;
  transform: translateX(0);
}
.auth-info__contact--manager:hover::after {
  transform: translateX(-50%) rotate(180deg) !important;
}
.auth-info__contact--manager::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  background-image: url("../images/arrow-down-black.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.2s linear;
}
.auth-info__contact--call {
  background-image: url("../images/phone-icon.svg");
}
.auth-info__contact--mail {
  background-image: url("../images/mail-icon.svg");
}
.auth-info__contact--skype {
  background-image: url("../images/skype-icon.svg");
}
.auth-info__contact--director {
  background-image: url("../images/director-icon.svg");
}
.auth-info__text {
  font-size: 14px;
  color: #131313;
}
.auth-info__text--bold {
  font-weight: 600;
  font-size: 16px;
  transition: color 0.2s linear;
}
.auth-info__text--bold:hover {
  color: #e00c32;
}
.auth-info__call {
  display: inline-block;
  text-decoration: underline;
  transition: color 0.2s linear;
}
.auth-info__call:hover {
  color: #e00c32;
}

.manager-info {
  display: flex;
}
.manager-info__imgbox {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  overflow: hidden;
}
.manager-info__text {
  color: #131313;
  font-size: 14px;
}
.manager-info__name {
  font-weight: 600;
  color: #131313;
  font-size: 16px;
}
.manager-info__name--position {
  position: relative;
}
.manager-info__button {
  width: 100%;
}

.manager-contacts-list {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #e00c32;
  opacity: 0;
  visibility: hidden;
  background-color: #ffffff;
  z-index: 1;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 100%;
  transform: translateY(-13px);
  transition: all 0.2s linear;
}
.manager-contacts-list__item {
  display: flex;
  flex-direction: column;
}
.manager-contacts-list__text {
  font-size: 16px;
}
.manager-contacts-list__text--bold {
  font-weight: 600;
  transition: color 0.2s linear;
}
.manager-contacts-list__text--bold:hover {
  color: #e00c32;
}

.cart-table {
  width: 100%;
  min-width: 950px;
  border-spacing: 0;
  border-collapse: collapse;
}
.cart-table__title {
  font-size: 22px;
}
.cart-table__title th {
  padding: 15px 0;
}
.cart-table__head {
  font-size: 18px;
  text-align: center;
}
.cart-table__head th {
  border: 1px solid #000;
}
.cart-table__item {
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}
.cart-table__item td {
  border: 1px solid #000;
  padding: 5px;
}
.cart-table__bottom td {
  border: 1px solid #000;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.cart-table__sum-full {
  white-space: nowrap;
}

.cart-item__inner {
  display: flex;
  align-items: center;
}
.cart-item__imgbox {
  width: 200px;
  margin-right: 10px;
}
.cart-item__properties {
  white-space: nowrap;
}
.cart-item__properties .cart-item__inner {
  height: 52px;
}
.cart-item__img-property {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-right: 10px;
}
.cart-item__sum div {
  height: 52px;
  line-height: 52px;
  white-space: nowrap;
}
.cart-item__link {
  font-weight: 600;
  text-decoration: underline;
  transition: color 0.2s linear;
}
.cart-item__link:hover {
  color: #e00c32;
}
.cart-item__info {
  max-width: 400px;
}
.cart-item__amount {
  position: relative;
}
.cart-item__amount .amount:not(:last-child) {
  margin-bottom: 10px;
}
.cart-item__remove-inner {
  height: 52px;
  display: flex;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 52px;
  white-space: nowrap;
}
.price span {
  padding: 0 5px;
  line-height: 1.2;
}
.price__old {
  text-decoration: line-through;
}
.price__current {
  color: rgb(254, 183, 3);
  font-weight: 600;
}

.td-empty {
  border: none !important;
}

.footer {
  padding: 40px 0;
  background: #153e84;
  color: #fff;
}
.footer__coll {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.footer__button-call {
  text-transform: uppercase;
  color: #db2138;
  font-size: 14px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 10px;
  margin-bottom: 20px;
}
.footer__phone {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer__email {
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__title-min {
  text-transform: uppercase;
  font-size: 18px;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 10px 0 10px 30px;
}
.footer__title-min--adress {
  background-image: url("../images/map-mark.png");
}
.footer__title-min--clock {
  background-image: url("../images/clock.png");
}
.footer__btn {
  height: 41px;
  width: 203px;
  background-color: #fe9e02;
  color: #3c3c3c;
  font-size: 15px;
  padding: 10px 10px 10px;
  text-transform: uppercase;
}
.footer__description {
  max-width: 200px;
}
.footer__adress {
  padding: 10px;
}
.footer__time {
  padding: 10px;
}
.footer__info {
  padding: 10px;
}

.burger-button {
  width: 35px;
  height: 25px;
  position: relative;
  display: none;
}
.burger-button__line {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #000000;
  transition: all 0.2s linear;
}
.burger-button__line--one {
  top: 0;
  left: 0;
}
.burger-button__line--two {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-button__line--three {
  bottom: 0;
  left: 0;
}
.burger-button:hover .burger-button__line--one {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #e00c32;
}
.burger-button:hover .burger-button__line--two {
  display: none;
}
.burger-button:hover .burger-button__line--three {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  background-color: #e00c32;
}

@media screen and (max-width: 1010px) {
  .header__nav {
    display: none;
  }
  .header .social-list {
    display: none;
  }
  .header__logo-link {
    margin-right: 0px;
  }

  .burger-button {
    width: 25px;
    height: 20px;
  }

  .category-menu-level-1 {
    display: none;
  }

  .burger-button {
    display: block;
  }

  .logo-link {
    max-width: 150px;
  }
  .logo-link--desctop {
    display: none;
  }
  .logo-link--mobile {
    display: block;
  }

  .actions {
    margin-right: 0px;
  }
  .actions__link-text {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .header__bottom {
    flex-wrap: wrap;
  }

  .form__header {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    order: 1;
  }

  .contact__header {
    margin-bottom: 10px;
  }

  .form__button {
    padding: 10px 20px;
  }

  .form__input {
    padding: 10px 0px 10px 10px;
  }

  .wrapper__container {
    flex-direction: column;
  }

  .sidebar {
    flex: 0 0 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }

  .fixed-menu {
    display: none;
  }

  .form-delivery__item {
    width: 100%;
  }

  .form-autorization {
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .title-h1 {
    font-size: 28px;
  }

  .title-h2 {
    font-size: 24px;
  }

  .title-h3 {
    font-size: 16px;
  }

  .order-goods,
.cart-goods,
.hero,
.assortment,
.tab-goods,
.info-company,
.contact-section,
.brands {
    margin-bottom: 50px;
  }

  .cart-result__title {
    width: 100%;
  }

  .cart-result__total {
    width: 100%;
  }

  .order-goods__button {
    font-size: 16px;
  }

  .info-company-list {
    gap: 20px;
  }
  .info-company-list img {
    width: 50px;
    height: 50px;
  }

  .contact-section__title,
.contact-section__description {
    margin-bottom: 15px;
  }

  .contact-section__container {
    padding: 10px;
  }

  .contact-section__description {
    font-size: 18px;
  }

  .form__contact-section {
    flex-wrap: wrap;
  }
  .form__contact-section .form__input {
    margin-bottom: 10px;
  }
  .form__contact-section .form__button {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */
