.alcap-popup {
  width: 330px;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background: #fff;
  padding: 10px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition: visibility 0.2s linear, opacity 0.2s linear, transform 0.2s linear;
  &__inner {
    display: flex;
    flex-direction: column;
  }
  &__top {
    display: flex;
    border-bottom: 1px solid #c4c4c4;
  }
  &__bottom {
    margin-bottom: 10px;
  }
  &__sum {
    padding: 10px;
    text-align: center;
  }
  &__close-button {
    margin-left: auto;
    margin-bottom: 10px;
  }
  &__text {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 10px;
    span {
      color: #e00c32;
    }
  }
  &__button {
    padding: 16px 43px;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    background-color: #e00c32;
  }
  &__collapse:hover {
    transition: color 0.2s linear;
    span {
      color: #e00c32;
      cursor: pointer;
    }
  }
}
.alcap-popup--open {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.quick-buy {
  position: fixed;
  top: auto;
  left: auto;
  bottom: 40px;
  right: 40px;
  font-size: 18px;
  strong {
    color: #e00c32;
  }
  &__title {
    font-weight: 600;
    margin-bottom: 10px;
  }
}
