.assortment {
  margin-bottom: 100px;
}
.assortment-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  &--incatalog {
    grid-gap: 40px;
  }
  &__item {
    border-radius: 8px;
    overflow: hidden;
    img {
      height: 100%;
    }
  }
  &__link {
    position: relative;
    display: block;
    height: 100%;
  }
  &__wrapper {
    background-color: #4174cbac;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
  }
  &__title {
    text-align: center;
  }
}
