.assortment {
  margin-bottom: 100px;
  &--fix-left-menu {
    flex: 0 0 calc(100% - 260px - 20px);
    margin-left: auto;
    margin-bottom: 0;
  }
  &__more {
    padding: 16px 43px;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    background: #e00c32;
    display: block;
    margin: 0 auto;
  }
}
.assortment-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-bottom: 30px;
  &--incatalog {
    grid-gap: 10px;
  }
  &--inmain {
    .assortment-list__item {
      overflow: hidden;
    }
  }
  &--list-view {
    grid-template-columns: auto;
  }
  &__item {
    border-radius: 8px;
    img {
      height: 100%;
    }
  }
  &__link {
    position: relative;
    display: block;
    height: 100%;
  }
  &__wrapper {
    background-color: #4174cbac;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
  }
  &__title {
    text-align: center;
  }
}
