.nav {
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 5px;
  }
  &__item:not(:last-child) {
    margin-right: 20px;
  }
  &__link {
    font-size: 16px;
    font-weight: 600;
  }
}

.logo-link {
  &--mobile {
    display: none;
  }
}

.actions {
  display: flex;
  align-items: center;
  &__header {
    margin-right: 10px;
  }
  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__item {
    font-size: 16px;
    display: flex;
    align-items: center;
  }
  &__link {
    transition: color 0.2s linear;
    white-space: nowrap;
  }
  &__link:hover {
    color: #e00c32;
  }
  &__link:focus {
    color: #e00c32;
  }
  svg {
    margin-right: 5px;
  }
}

.social-list {
  display: flex;
  align-items: center;
  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__item {
    width: 24px;
    height: 24px;
  }
  &__item a {
    display: block;
    width: 24px;
    height: 24px;
  }
}

.form {
  display: flex;
  align-items: center;
  &--column {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    input {
      border: 1px solid #c4c4c4;
    }
  }
  &__header {
    flex-grow: 1;
    max-width: 600px;
    margin-right: 10px;
  }
  &__input {
    padding: 15px;
    background-color: #f8f8f8;
    font-size: 14px;
    border-radius: 5px;
    width: 100%;
    &:focus {
      box-shadow: 0px 0px 1px 2px #000000;
    }
  }
  &__button {
    padding: 16px 43px;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    &--red {
      background: #e00c32;
    }
    &--blue {
      background: #4174cb;
    }
    &:focus {
      background-color: #ffffff;
      color: #e00c32;
      box-shadow: 0px 0px 1px 2px #e00c32;
    }
  }
  &__label {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    span {
      display: inline-block;
      font-weight: 400;
      font-size: 14px;
      color: rgba(12, 18, 28, 0.5);
      white-space: normal;
      margin-bottom: 5px;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: 20px;
  }
}

.informer {
  display: flex;
  align-items: center;
  &__item {
    display: flex;
    align-items: center;
  }
}

/* category-menu-level-1 start */
.category-menu-level-1 {
  background-color: #0c121c;
}
.category-menu-level-1__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 5;
}
.category-menu-level-1__item:hover .category-menu-level-2 {
  display: block;
}
.category-menu-level-1__link {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  padding: 20px;
  display: block;
}
/* category-menu-level-1 end */

/* category-menu-level-2 start */
.category-menu-level-2 {
  background-color: #ffffff;
  position: absolute;
  z-index: 6;
  padding: 20px;
  display: none;
  border: 1px solid rgb(12 18 28 / 12%);
  border-radius: 5px;
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
  &__item {
    display: flex;
    align-items: center;
    position: relative;
    &:hover img {
      transform: translateY(-5px);
    }
    &:hover .category-menu-level-3 {
      display: block;
    }
    img {
      width: 40px;
      height: 40px;
      margin-right: 5px;
      transition: transform 0.2s linear;
    }
  }
  &__link {
    font-weight: 600;
    font-size: 14px;
    padding: 10px 10px 10px 5px;
    display: block;
    transition: color 0.2s linear;
    &:hover {
      color: #e00c32;
    }
  }
}
/* category-menu-level-2 end */

/* category-menu-level-3 start */
.category-menu-level-3 {
  position: absolute;
  top: 100%;
  left: 50px;
  padding: 20px;
  border: 1px solid rgba(12, 18, 28, 0.12);
  background-color: #ffffff;
  z-index: 1;
  display: none;
  &__item {
    padding: 5px;
  }
}
/* category-menu-level-3 end */

.stars-list {
  display: flex;
  margin-bottom: 10px;
  &__item:not(:last-child) {
    margin-right: 5px;
  }
}

.social-list {
  display: flex;
  align-items: center;
  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__item {
    width: 24px;
    height: 24px;
  }
  &__item a {
    display: block;
    width: 24px;
    height: 24px;
  }
}

.privacy-policy {
  padding-top: 20px;
  &__wrapper {
    padding-top: 10px;
    border-top: 1px solid #e0e0e0;
  }
}

.counter {
  font-size: 14px;
  color: #0c121c;
  font-weight: bold;
  background-color: #feb703;
  padding: 4px 8px;
  border-radius: 16px;
  white-space: nowrap;
}

.contact {
  &__header {
    margin-right: 10px;
    white-space: nowrap;
  }
  &__action {
    font-weight: 700;
    transition: color 0.2s linear;
    &:hover {
      color: #e00c32;
    }
  }
  &__btn {
    transition: color 0.2s linear;
    &:hover,
    &:focus {
      color: #e00c32;
    }
  }
}
.amount {
  cursor: pointer;
  &--incard {
    margin-bottom: 20px;
  }
  &__cart {
    margin-right: 10px;
  }
  &__title {
    font-size: 11px;
    font-weight: 400;
    color: rgb(128, 128, 128);
    margin-bottom: 5px;
  }
  &__counter {
    display: flex;
    color: #0c121c;
    font-size: 14px;
    font-weight: 400;
  }
  &__button {
    font-size: 20px;
    padding: 10px 10px;
    border: 1px solid rgb(12 18 28 / 12%);
    transition: background 0.2s linear, color 0.2s linear;
    &:hover {
      background-color: rgb(224, 12, 50);
      color: #ffffff;
    }
  }
  &__input {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    display: block;
    color: #0c121c;
    font-size: 15px;
    padding: 10px;
    width: 90px;
    text-align: center;
  }
  &__unit{
    text-align: center;
  }
}
.in-cart{
  padding: 5px;
  background: #faafaf;
  border: 1px solid #e00c32;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 5px;
}
.close-button {
  &--position-absolute {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  line-height: 0;
  svg {
    fill: #000000;
    width: 20px;
    height: 20px;
    transition: fill 0.2s linear;
  }
  &:hover svg {
    fill: #e00c32;
  }
}

.actions-list {
  &--flex {
    display: flex;
  }
  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__svg:hover {
    path {
      stroke: #db2138;
    }
  }
  .inwhishlist {
    .actions-list__svg {
      fill: #db2138;
      path {
        stroke: #db2138;
      }
    }
  }
}

.stikcers-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 5px;
  &__item:not(:last-child) {
    margin-right: 10px;
  }
  &__item {
    text-align: center;
    border-radius: 5px;
    background: #5eb160;
    transform: skewX(-15deg);
    padding: 0 4px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 19px;
    &--sale {
      background-color: #db2138;
    }
    &--new {
      background-color: #5eb160;
    }
    &--sob-prov {
      background-color: #006db2;
    }
    &--round {
      transform: skewX(0);
      border-radius: 100%;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.form-autorization {
  max-width: 540px;
  margin-bottom: 20px;
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__label {
    color: #0c121c;
    font-size: 14px;
    font-weight: 600;
    width: 100px;
  }
  &__input {
    padding: 15px;
    background-color: #f8f8f8;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #cfcfcf;
    width: 100%;
  }
  &__link {
    text-decoration: underline;
    color: #0c121c;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.2s linear;
    margin-right: 10px;
    margin-bottom: 10px;
    &:hover {
      color: #e00c32;
      text-decoration: none;
    }
  }
  &__button {
    padding: 16px 43px;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    background-color: #e00c32;
  }
}

.cart-result {
  font-weight: 600;
  font-size: 18px;
  &__text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__text:not(:last-child) {
    margin-bottom: 10px;
  }
  &__text--economy {
    color: red;
  }
  &__title {
    width: 280px;
  }
  &__total {
    width: 50%;
  }
}
.form-delivery {
  margin: 0 -10px;
  flex-wrap: wrap;
  &__title {
    color: #131313;
    font-weight: 400;
    margin-bottom: 15px;
  }
  &__item {
    width: 33.33%;
    padding: 0 10px 10px 10px;
  }
  &__button {
    width: 100%;
  }
}

.delivery-list {
  &__item:not(:last-child) {
    margin-bottom: 10px;
  }
  &__item {
    display: flex;
    align-items: center;
  }
  &__textarea:focus-visible {
    outline-offset: 0px;
    outline: none;
  }
  &__textarea:focus {
    outline: none;
    box-shadow: 0 0px 4px 0px #e00c32 !important;
    border-color: #e00c32;
  }
}

.warning-table {
  width: 100%;
  min-width: 950px;
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: 30px;
  font-size: 16px;
  tr {
    th {
      padding: 10px;
      border-top: 1px solid #e8e9eb;
      border-bottom: 1px solid #e8e9eb;
    }
  }
  tr {
    td {
      padding: 10px;
      border-bottom: 1px solid #e8e9eb;
      width: 50%;
    }
  }
}

.accordion-button {
  font-weight: 600;
  text-transform: uppercase;
}
.accordion-body {
  padding: 15px;
  padding-right: 0px;
}
.accordion-item {
  border: none;
}
.accordion-button:focus {
  border-color: #e00c32;
  box-shadow: 0 0 0 0.25rem #e00c32;
}
.accordion-button:hover {
  background-color: #e00c32;
  color: #ffffff;
}
.accordion-button:hover::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.accordion-button:not(.collapsed) {
  background-color: #e00c32;
  color: #ffffff;
  font-weight: 600;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.product-sort {
  width: fit-content;
  margin-bottom: 30px;
  .dropdown-menu {
    width: 100%;
  }
  .dropdown-toggle {
    border: 1px solid #eaebec;
    border-radius: 5px;
    color: #222222;
    font-size: 16px;
    &:hover {
      background-color: #e00c32;
      color: #ffffff;
    }
  }
  .dropdown-item:hover {
    background-color: #e00c32;
    color: #ffffff;
  }
}
