.breadcrumbs {
  margin-bottom: 30px;
}
.breadcrumbs-list {
  display: flex;
  align-items: center;
  color: #999999;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0;
  &__item:not(:last-child) {
    margin-right: 20px;
    position: relative;
    &::after {
      content: "/";
      position: absolute;
      top: 1px;
      right: -12px;
    }
  }
  &__link {
    transition: color 0.2s linear;
    &.active {
      color: #e00c32;
    }
  }
  &__link:hover,
  &__link:focus {
    color: #e00c32;
  }
}
