.b-card {
  position: relative;
  border: 1px solid #eaebed;
  transition: box-shadow 0.1s linear;
  border-radius: 5px;
  &--flex-column {
    height: 520px;
    display: flex;
    flex-direction: column;
    .b-card__imgbox {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &--flex-row {
    display: flex;
    padding: 10px;
    gap: 10px;
    .b-card__title {
      text-align: left;
    }
    .b-card__imgbox {
      width: 40%;
      flex-direction: column;
      align-items: flex-start;
      // justify-content: flex-start;
      min-height: auto;
    }
    .b-card__info {
      width: 27%;
    }
    .b-card__panel {
      width: 33%;
      background-color: #f8f8f8;
      padding: 5px;
      .b-card-top {
        justify-content: end;
      }
      .in-cart {
        margin: 0 auto;
        margin-bottom: 10px;
      }
    }
    .b-card__price {
      margin-bottom: 10px;
    }
    .amount {
      margin: 0 auto;
      width: fit-content;
      margin-bottom: 10px;
    }
    .actions-list {
      justify-content: center;
    }
  }
  &--non-autorization-row {
    .b-card__swipers-wrapper {
      margin-top: 10px;
    }
    .b-card__panel {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &--non-autorization-column {
    height: 100%;
    padding: 10px;
    .lockout {
      margin-top: auto;
    }
  }
  &--detail-goods {
    border: none;
    &:hover {
      box-shadow: none !important;
    }
  }
  &__save {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    span {
      display: inline-block;
      padding: 3px 20px;
      background: #e00c32;
      border-radius: 5px;
      color: #ffffff;
      font-weight: 600;
      font-size: 16px;
      width: fit-content;
    }
  }
  &__swipers {
    display: flex;
    margin-top: 10px;
    position: relative;
    z-index: 1;
  }
  &__swiper {
    &--bigthumb {
      width: calc(100% - 60px);
      .swiper-slide {
        padding-right: 10px;
      }
    }
    &--minthumb {
      height: 200px;
      width: 60px;
      .swiper-slide {
        border: 2px solid #eaebed;
        transition: border-color 0.2s linear;
        &:hover {
          border-color: #0c121c;
          cursor: pointer;
        }
      }
      .swiper-slide-thumb-active {
        border-color: #0c121c;
      }
      .swiper-button-prev,
      .swiper-button-next {
        left: auto;
        right: 25px;
      }
      .swiper-button-prev {
        top: 25px;
        transform: rotate(90deg);
      }
      .swiper-button-next {
        top: auto;
        bottom: 2px;
        transform: rotate(90deg);
      }
    }
    .swiper-slide {
      width: 100% !important;
    }
  }
  &__swipers-wrapper {
    position: relative;
    height: 200px;
    .swiper-button-prev,
    .swiper-button-next {
      left: auto;
      right: 17px;
      background-color: transparent;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      transform: rotate(90deg);
      transition: background 0.2s linear;
      &:hover {
        background-color: #e00c32;
      }
      &:hover:after {
        color: #ffffff;
      }
    }
    .swiper-button-prev {
      top: -10px;
    }
    .swiper-button-next {
      top: auto;
      bottom: -30px;
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
      color: #000000;
      font-size: 18px;
      font-weight: 600;
      transition: color 0.2s linear;
    }
  }

  &__link {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__imgbox {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    min-height: 350px;

    img {
      object-fit: contain;
    }
  }

  &__button-fast-preview {
    position: absolute;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #e00c32;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
    width: 190px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    &:hover {
      background-color: #e00c32;
      color: #ffffff;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 10px;
    font-weight: 600;
    transition: color 0.2s linear;
    text-align: center;

    &:hover {
      color: #e00c32;
    }
  }

  &__description {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
  }

  &__price {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 1;
  }

  &__price-old {
    text-decoration: line-through;
  }

  &__price-new {
    color: #feb703;
    font-size: 32px;
  }

  &__wrapper {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    background-color: #ffffff;
    box-shadow: 0px 9px 12px -2px rgba(34, 60, 80, 0.5);
    padding: 10px;
    border-radius: 5px;
  }

  &:hover {
    box-shadow: 0px 0px 12px -2px rgba(34, 60, 80, 0.5);
  }

  &:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .b-card__wrapper {
      display: flex;
      position: relative;
      z-index: 1;
      opacity: 1;
      visibility: visible;
    }
  }
  &:hover {
    .b-card__button-fast-preview {
      transform: translate(-50%, -50%);
      opacity: 1;
      visibility: visible;
    }
  }
  &__group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }
}

.properties-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  font-size: 15px;

  &__item {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  &__button-size {
    padding: 5px;
    border: 1px solid #e3e3e3;
    cursor: pointer;

    &:hover {
      border-color: #e00c32;
      color: #e00c32;
    }
  }

  &__imgbox {
    display: block;
    padding: 3px;
    border-radius: 2px;
    border: 1px solid #000000;
    cursor: pointer;
    width: 35px;
    height: 35px;
    &:hover {
      border-color: #e00c32;
    }
  }

  &__item.active {
    background-color: #e00c32;

    .properties-list__button-size {
      background-color: #e00c32;
      color: #ffffff;
    }
  }
}
.b-card-top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1;
  &__discount,
  &__timer,
  &__own-production,
  &__new {
    width: fit-content;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    transform: skewX(-15deg);
  }
  &__discount {
    background-color: #e00c32;
  }
  &__timer {
    background-color: #006db2;
  }
  &__own-production {
    background-color: #006db2;
  }
  &__new {
    background-color: #5eb160;
  }
}
