.b-card {
  height: 100%;
  position: relative;
  &__link {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__imgbox {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 10px;
    font-weight: 600;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
  }
  // &__actions-list {
  //   position: absolute;
  //   left: 0;
  //   right: auto;
  //   top: 0;
  //   // .actions-list__svg-wrapper::after {
  //   //   display: none;
  //   // }
  // }
}

.sizes-list {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.sizes-list__item {
  padding: 5px;
  border: 1px solid #e3e3e3;
  margin: 2px 2px 0 0;
  transition: all 0.2s linear;
  cursor: pointer;
}
.sizes-list__item:hover {
  border-color: #db2138;
}
