.cart {
  // position: fixed;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // background: rgba(0, 0, 0, 0.5);
  // z-index: 10;
  // height: 100%;
  // padding: 10px;
  // cursor: pointer;
  // display: none;
  // &__wrapper {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   height: 100%;
  // }
  // &__inner {
  //   background-color: #ffffff;
  //   flex-basis: 1000px;
  //   padding: 10px;
  //   position: relative;
  //   border-radius: 5px;
  // }
  &__item {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
  }
  &__name-link {
    color: #282828;
    font-size: 16px;
    font-weight: 600;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__imgbox {
    flex-basis: 150px;
    height: 150px;
    margin-right: 20px;
  }
  &__content {
    flex-basis: 50%;
    margin-right: 10px;
  }
  &__price {
    margin-right: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    margin-top: 17px;
    flex-basis: 120px;
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }
  &__detail-info {
    font-weight: 600;
    font-size: 16px;
    color: #0c121c;
  }
  &__links {
    display: flex;
    align-items: center;
  }
  &__link {
    padding: 10px 20px;
    border: 1px solid #e00c32;
    border-radius: 5px;
    color: #0c121c;
    transition: background 0.2s linear, color 0.2s linear;
    background-color: transparent;
    &--continue {
      color: #e00c32;
      &:hover {
        background-color: #e00c32;
        color: #ffffff;
      }
    }
    &--check {
      color: #ffffff;
      background-color: #e00c32;
      &:hover {
        color: #e00c32;
        background-color: #ffffff;
      }
    }
  }
  &__link:not(:last-child) {
    margin-right: 10px;
  }
}
