.b-card {
  position: relative;
  border: 1px solid #eaebed;
  transition: box-shadow 0.1s linear;
  border-radius: 5px;
  &--flex-column {
    height: 520px;
    display: flex;
    flex-direction: column;
  }
  &--flex-row {
    display: flex;
    padding: 10px;
    gap: 10px;
    .b-card__title {
      text-align: left;
    }
    .b-card-imagebox {
      width: 28%;
      &__img {
        height: auto;
      }
    }
    .b-card__info {
      width: 39%;
    }
    .b-card__panel {
      width: 33%;
      background-color: #f8f8f8;
      .b-card-top {
        justify-content: end;
      }
      .in-cart {
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }
    .b-card__price {
      margin-bottom: 20px;
    }
    .amount {
      margin: 0 auto;
      width: fit-content;
      margin-bottom: 20px;
    }
    .actions-list {
      justify-content: center;
    }
  }
  &__save {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    span {
      display: inline-block;
      padding: 3px 20px;
      background: #e00c32;
      border-radius: 5px;
      color: #ffffff;
      font-weight: 600;
      font-size: 16px;
      width: fit-content;
    }
  }

  &__link {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__imgbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    min-height: 350px;

    img {
      object-fit: contain;
    }
  }

  &__button-fast-preview {
    position: absolute;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #e00c32;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
    border-radius: 5px;
    transform: translateY(15px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s linear;
    &:hover {
      background-color: #e00c32;
      color: #ffffff;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 10px;
    font-weight: 600;
    transition: color 0.2s linear;
    text-align: center;

    &:hover {
      color: #e00c32;
    }
  }

  &__description {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
  }

  &__price {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }

  &__price-old {
    text-decoration: line-through;
  }

  &__price-new {
    color: #feb703;
    font-size: 32px;
  }

  &__wrapper {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    background-color: #ffffff;
    box-shadow: 0px 9px 12px -2px rgba(34, 60, 80, 0.5);
    padding: 10px;
    border-radius: 5px;
  }

  &:hover {
    box-shadow: 0px 0px 12px -2px rgba(34, 60, 80, 0.5);
  }

  &:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    .b-card__wrapper {
      display: flex;
      position: relative;
      z-index: 1;
      opacity: 1;
      visibility: visible;
    }
  }
  &:hover {
    .b-card__button-fast-preview {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}

.properties-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  font-size: 15px;

  &__item {
    margin-right: 5px;
    margin-bottom: 5px;
  }

  &__button-size {
    padding: 5px;
    border: 1px solid #e3e3e3;
    cursor: pointer;

    &:hover {
      border-color: #e00c32;
      color: #e00c32;
    }
  }

  &__imgbox {
    display: block;
    padding: 3px;
    border-radius: 2px;
    border: 1px solid #000000;
    cursor: pointer;

    &:hover {
      border-color: #e00c32;
    }
  }

  &__img {
    width: 35px;
    height: 35px;
  }

  &__item.active {
    background-color: #e00c32;

    .properties-list__button-size {
      background-color: #e00c32;
      color: #ffffff;
    }
  }
}
.b-card-top {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  &__discount,
  &__timer {
    width: fit-content;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 15px;
    transform: skewX(-15deg);
  }
  &__discount {
    background-color: #e00c32;
  }
  &__timer {
    background-color: #006db2;
  }
}
