.card {
  height: 100%;
  &__link {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &__imgbox {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 10px;
    font-weight: 600;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
  }
  &__actions-list {
    position: absolute;
    left: 0;
    right: auto;
    top: 0;
    .actions-list__svg-wrapper::after {
      display: none;
    }
  }
}
