.contact-section {
  margin-bottom: 100px;
  background-color: #f8f8f8;
  &__container {
    padding: 40px 135px;
  }
  &__title {
    color: #333333;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 24px;
  }
  &__description {
    color: #333333;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 54px;
  }
  &__form {
    margin: 0 auto;
    width: 80%;
  }
}
