.footer {
  padding: 40px 0;
  background-color: #0c121c;
  color: #fff;
  &__coll {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  &__button-call {
    text-transform: uppercase;
    color: #db2138;
    font-size: 14px;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: color 0.2s linear;
    &:hover {
      color: #ffffff;
    }
  }
  &__phone {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    margin-bottom: 10px;
    transition: color 0.2s linear;
    &:hover {
      color: #e00c32;
    }
  }
  &__email {
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__title-min {
    text-transform: uppercase;
    font-size: 18px;
    background-repeat: no-repeat;
    background-position: left center;
    padding: 10px 0 10px 30px;
  }
  &__title-min--adress {
    background-image: url("../images/map-mark.png");
  }
  &__title-min--clock {
    background-image: url("../images/clock.png");
  }
  &__btn {
    padding: 16px 43px;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    background: #e00c32;
  }
  &__description {
    max-width: 200px;
  }
  &__adress {
    padding: 10px;
  }
  &__time {
    padding: 10px;
  }
  &__info {
    padding: 10px;
  }
}
