.header {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid rgba(12, 18, 28, 0.1);
    padding: 20px 0 20px 0;
  }
  &__bottom {
    padding: 20px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo-link {
    margin-right: 10px;
  }
  &__form {
    margin-right: 10px;
  }
  &__favorite {
    margin-right: 10px;
  }
}
