@media screen and (max-width: 1010px) {
  .header {
    &__nav {
      display: none;
    }
    .social-list {
      display: none;
    }
    &__logo-link {
      margin-right: 0px;
    }
  }
  .burger-button {
    width: 25px;
    height: 20px;
  }
  .category-menu-level-1 {
    display: none;
  }
  .burger-button {
    display: block;
  }
  .logo-link {
    max-width: 150px;
    &--desctop {
      display: none;
    }
    &--mobile {
      display: block;
    }
  }
  .actions {
    margin-right: 0px;
    &__link-text {
      display: none;
    }
  }
  .lockout {
    .actions__link-text {
      display: block;
    }
  }
}
@media screen and (max-width: 900px) {
  .header__bottom {
    flex-wrap: wrap;
  }
  .form__header {
    width: 100%;
    max-width: 100%;
    margin-top: 20px;
    order: 1;
  }
  .contact__header {
    margin-bottom: 10px;
  }
  .form__button {
    padding: 10px 20px;
  }
  .wrapper__container,
  .detail-goods__wrapper {
    flex-direction: column;
  }
  .sidebar {
    flex: 0 0 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .fixed-menu {
    display: none;
  }
  .form-delivery__item,
  .detail-goods__left,
  .detail-goods__right {
    width: 100%;
  }
  .form-autorization {
    max-width: 100%;
  }
  .js-fixed-sidebar,
  .js-absolute {
    position: relative;
    width: 100%;
  }
  .product-sort .dropdown-toggle {
    font-size: 13px;
  }
  .b-card--flex-column {
    height: 100%;
  }
  .b-card__wrapper {
    opacity: 1;
    visibility: visible;
    margin-top: auto;
    box-shadow: none;
    display: flex;
  }
  .hero__content {
    left: 20px;
    top: 20px;
  }
  .hero__title-text {
    font-size: 22px;
  }
  .hero__subtitle-text {
    font-size: 16px;
  }
  .swiper__hero .swiper-pagination {
    margin-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .title-h1 {
    font-size: 28px;
  }
  .title-h2 {
    font-size: 24px;
  }
  .title-h3 {
    font-size: 16px;
  }
  .b-card__title {
    font-size: 22px;
  }
  .b-card__btn-fast-preview {
    display: none;
  }
  .order-goods,
  .cart-goods,
  .hero,
  .assortment,
  .tab-goods,
  .info-company,
  .contact-section,
  .brands {
    margin-bottom: 50px;
  }
  .cart-result__title {
    width: 100%;
  }
  .cart-result__total {
    width: 100%;
  }
  .order-goods__button {
    font-size: 16px;
  }
  .info-company-list {
    gap: 20px;
    & img {
      width: 50px;
      height: 50px;
    }
  }
  .contact-section__title,
  .contact-section__description {
    margin-bottom: 15px;
  }
  .contact-section__container {
    padding: 10px;
  }
  .contact-section__description {
    font-size: 18px;
  }
  .form__contact-section {
    flex-wrap: wrap;
    .form__input {
      margin-bottom: 10px;
    }
    .form__button {
      width: 100%;
    }
  }
  .b-card--flex-row {
    flex-wrap: wrap;
    gap: 30px;
  }
  .b-card__imgbox,
  .b-card__info,
  .b-card__panel {
    width: 100% !important;
  }
  .content__text {
    font-size: 18px;
  }
  .brands__list {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
}
