.order-goods {
  margin-bottom: 100px;
  &__title {
    margin-bottom: 30px;
  }
  &__top {
    display: flex;
    justify-content: end;
    padding: 15px 0;
  }
  &__button {
    color: #131313;
    font-weight: 400;
    font-size: 22px;
    transition: color 0.2s linear;
    padding-left: 40px;
    background-image: url("../images/garbage.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;

    &:hover {
      color: #e00c32;
    }
  }
}
