.search-result {
  position: absolute;
  top: 152px;
  left: 580px;
  width: 540px;
  border: 1px solid #c6c6c6;
  background-color: #fff;
  padding: 10px;
  border-radius: 3px;
  z-index: 10;
  display: none;
  &__title {
    font-weight: 600;
    color: #000000;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    &--product {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }
  &__link {
    font-size: 16px;
    transition: color 0.2s linear;
    &:hover {
      color: #e00c32;
    }
  }
  &__btn {
    display: block;
    margin: 0 auto;
    width: fit-content;
  }
  .b-card__price {
    color: initial;
  }
}
.search-result-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  transition: box-shadow 0.2s linear;
  &:hover {
    box-shadow: inset 0px 0px 0px 1px rgba(34, 60, 80, 0.5);
  }
  &__img {
    width: 90px;
    height: 90px;
  }
  &__name {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
  }
}
