.tab-goods {
  margin-bottom: 100px;
  &__title {
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  &__tab-list {
    flex-wrap: wrap;
  }
}
.tab-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
  &__btn {
    border: 1px solid #e00c32;
    background-color: #ffffff;
    color: #000000;
    transition: background 0.2s linear, color 0.2s linear;
    &.js-active-tab-button {
      color: #ffffff;
      background-color: #e00c32;
    }
  }
}
.tab-content__item {
  display: none;
}
.js-active-tab-content {
  display: block;
  animation: opacity_tab_content 0.5s linear;
}
@keyframes opacity_tab_content {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
