.wrapper {
  padding: 40px 0;
  &__container {
    display: flex;
    position: relative;
  }
}
.sidebar {
  flex: 0 0 260px;
  margin-right: 20px;
  height: fit-content;
}
.sidebar-nav {
  &--margin {
    margin-bottom: 20px;
  }
  &__item {
    padding: 10px 20px;
    &.active {
      background-color: #e00c32;
      .sidebar-nav__link {
        color: #ffffff;
      }
    }
  }
  &__link {
    color: #0c121c;
    font-size: 14px;
    font-weight: 600;
    transition: color 0.2s linear;
    &:hover,
    &:focus {
      color: #e00c32;
    }
  }
}
.content {
  &__title {
    margin-bottom: 20px;
    &--h3 {
      color: #0c121c;
    }
  }
  &__text {
    padding: 10px 0;
    font-size: 20px;
    line-height: 1.4;
    &--contact {
      a {
        display: inline;
        font-weight: 700;
        transition: color 0.2s linear;
        &:hover,
        &:focus {
          color: #e00c32;
        }
      }
    }
  }
  &__link-intext {
    display: inline-block;
    color: #e00c32;
    &:hover {
      text-decoration: underline;
    }
  }
}
.content-list {
  list-style-type: disc;
  padding-left: 40px;
  &__item:not(:last-child) {
    margin-bottom: 20px;
  }
  &__text {
    font-size: 16px;
  }
}
