* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #333;
  margin: 0;
  padding: 0;
  min-width: 320px;
  height: 100%;
  // position: relative;
}
button {
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
  display: block;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
html {
  height: 100%;
}
main {
  flex: 1 0 auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
// .site-container {
//   display: flex;
//   flex-direction: column;
//   height: 100%;
// }
.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}
.personal-page .catalog-filtres {
  width: 100%;
  max-width: 100%;
}
.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font: inherit;
}
.input-reset {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
}
.title-h1 {
  font-size: 54px;
}
.title-h2 {
  font-size: 32px;
  &--center {
    text-align: center;
    margin-bottom: 50px;
  }
}
.title-h3 {
  font-size: 18px;
  font-weight: 700;
  color: #ffffff;
  a {
    transition: opacity 0.2s linear;
    color: #e00c32;
    &:hover {
      opacity: 0.5;
    }
  }
}

.logo-link__img {
  max-width: 200px;
}

.js-modal-visible {
  display: block !important;
}
.js-stop-scroll {
  overflow: hidden;
}
.js-fixed-sidebar {
  position: fixed;
  width: 260px;
}
.js-absolute {
  position: absolute;
  top: auto !important;
  bottom: 0;
  width: 260px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  display: none;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &__inner {
    background-color: #ffffff;
    flex-basis: 1150px;
    padding: 10px;
    position: relative;
    border-radius: 5px;
  }
}

.dropdown {
  &--assortment {
    margin-bottom: 20px;
  }
  .dropdown-toggle {
    border: 1px solid #eaebec;
    color: #222222;
    font-size: 14px;
    border-radius: 3px;
  }
}

.checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.checkbox-custom {
  display: inline-block;
  vertical-align: sub;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  background-color: transparent;
  position: relative;
  border-radius: 2px;
  border: 1px solid #999999;
  margin-right: 12px;
}
.checkbox-custom::before {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 9px;
  background-image: url("../images/checkbox-chek.svg");
  background-repeat: no-repeat;
  background-size: contain;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  margin-top: 1px;
  transition: 0.2s linear;
}
/*появление галочки при клике на чекбокс*/
.checkbox:checked + .checkbox-custom {
  background-color: #e00c32;
}
.checkbox:checked + .checkbox-custom::before {
  transform: translate(-50%, -50%) scale(1);
}
.checkbox:hover + .checkbox-custom {
  background-color: #e00c32;
}
.checkbox-label {
  cursor: pointer;
  color: #666666;
  font-size: 14px;
}
.delivery-select:focus {
  outline: none;
  box-shadow: 0 0px 4px 0px #e00c32 !important;
  border-color: #e00c32;
}
.delivery-select:focus-visible {
  outline-offset: 0px;
  outline: none;
}
.table-responsive {
  margin-bottom: 30px;
}

@-moz-document url-prefix() {
  .table-responsive {
    padding-left: 1px;
  }
}
