.swiper {
  &__hero {
    width: 100%;
    height: 400px;
    .swiper-slide {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      &--one {
        background-image: url("../images/hero-alcap-img.jpg");
      }
      &--two {
        background-image: url("../images/hero-alcap-img3.jpg");
      }
      &--three {
        background-image: url("../images/hero-alcap-img2.jpg");
      }
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none;
    }
    .swiper-button-prev,
    .swiper-button-next {
      background-color: #ffffff;
      width: 48px;
      height: 48px;
      border-radius: 100%;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .swiper-button-prev {
      background-image: url("../images/arrow-left-blue.svg");
      left: auto;
      top: auto;
      right: 105px;
      bottom: 25px;
    }
    .swiper-button-next {
      background-image: url("../images/arrow-right-blue.svg");
      left: auto;
      top: auto;
      right: 40px;
      bottom: 25px;
    }
    .swiper-pagination {
      width: auto;
      margin-left: 50px;
      margin-bottom: 30px;
    }
    .swiper-pagination-bullet {
      opacity: 1;
      background-color: #ffffff;
      margin: 0 8px !important;
      width: 6px !important;
      height: 6px !important;
    }
    .swiper-pagination-bullet-active {
      transform: scale(2);
    }
  }
  &__popular-goods {
    padding: 10px 10px 0 10px;
    overflow-y: visible;
    .swiper-wrapper {
      padding-bottom: 40px;
    }
    .swiper-slide {
      height: auto;
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
      color: #000000;
      font-size: 28px;
      transition: color 0.2s linear;
    }
    .swiper-button-next,
    .swiper-button-prev {
      background-color: transparent;
      width: 48px;
      height: 48px;
      border-radius: 100%;
      transition: background 0.2s linear;
      &:hover {
        background-color: #e00c32;
      }
      &:hover.swiper-button-next::after,
      &:hover.swiper-button-prev::after {
        color: #ffffff;
      }
    }
    .swiper-pagination-bullet {
      background-color: #4174cb;
      opacity: 1;
      width: 6px;
      height: 6px;
    }
    .swiper-pagination-bullet-active {
      transform: scale(2);
    }
  }
}
