//пример импорта scss файла
@import "fonts/fonts";
@import "setting";
@import "swiper";
@import "SCSSPartials/header";
@import "SCSSPartials/fixedMenu";
@import "SCSSPartials/bloks";
@import "SCSSPartials/hero";
@import "SCSSPartials/assortment";
@import "SCSSPartials/tabGoods";
@import "SCSSPartials/card";
@import "SCSSPartials/infoCompany";
@import "SCSSPartials/contactSection";
@import "SCSSPartials/brands";
@import "SCSSPartials/cart";
@import "SCSSPartials/footer";
@import "SCSSPartials/burgerButton";
@import "SCSSPartials/media";
