//пример импорта scss файла
@import "fonts/fonts";
@import "setting";
@import "swiper";
@import "SCSSPartials/header";
@import "SCSSPartials/breadcrumbs";
@import "SCSSPartials/fixedMenu";
@import "SCSSPartials/bloks";
@import "SCSSPartials/hero";
@import "SCSSPartials/assortment";
@import "SCSSPartials/tabGoods";
@import "SCSSPartials/card";
@import "SCSSPartials/infoCompany";
@import "SCSSPartials/contactSection";
@import "SCSSPartials/brands";
@import "SCSSPartials/wrapper";
@import "SCSSPartials/catalogFilters";
@import "SCSSPartials/cartGoods";
@import "SCSSPartials/orderGoods";
@import "SCSSPartials/catalogOrder";
@import "SCSSPartials/table";
@import "SCSSPartials/footer";
@import "SCSSPartials/burgerButton";
@import "SCSSPartials/media";
